#ajax-content-modal {
  position: fixed;
  top: 15%;
  left: 40%;
  width: 20%;
  z-index: 1000;
  
  background-color: #fff;
  border: 1px solid #000;
  
  padding: 1em;
}

#ajax-content-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    filter:alpha(opacity=70);
}

#ajax-content-modal-close {
  cursor: pointer;
}

#anchor-tester {
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:200px;
  background-color:#CCC;
}

#anchor-tester p {
  padding: 0px !important;
  margin: 0pc !important;
}

.ajax-content-spinner-modal {
    background-image: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 32px;
}

#ajax-content-spinner-wrapper {
  background-color:#000;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity:0.5;
  height: 0px;
}

.ajax-content-spinner-non-modal {
    background-image: url("../images/ajax-loader-non-modal.gif");
    background-repeat: no-repeat;
    display: block;
    height: 66px;
    width: 66px;
}
